/* FONT */
.signature{
    font-family: 'dancing_scriptregular';
}
.signature2{
    font-family: 'Yellowtail', cursive;
}
.signature3{
    font-family: 'Pacifico', cursive;
}

/* Style */
.opening-bg-img{
    background-position: center;
    background-size: cover;
}

.modal-bg{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.16850490196078427) 55%, rgba(0,0,0,0.3225665266106442) 80%, rgba(0,0,0,1) 100%);
}

.open-invitation{
    background-color: #95B2EB !important;
    color: black;
    width: 100% !important;
    max-width: 300px;
}
.fa-heart{
    color: #f55283;
}
.fa-heart:hover{
    color: #bd1d4d;
}
.open-invitation:hover{
    background-color: #5374b6 !important;
    color: white !important;
}

/* @media and (max-width: 576px){
    .open-invitation{
        width: 
    }
} */
