@font-face {
    font-family: 'dancing_scriptregular';
    src: url('dancingscript-variablefont_wght-webfont.woff2') format('woff2'),
         url('dancingscript-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'double_diamond';
    src: url('double_diamond-webfont.woff2') format('woff2'),
         url('double_diamond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamRounded';
    src: url('GothamRounded-Medium.woff2') format('woff2'),
         url('GothamRounded-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


